<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head th:include="_template :: head">
    <meta charset="UTF-8" />
    <title>Criar Task</title>
  </head>
  <body>
    <div class="section">
      <div class="color"></div>
      <h1>EpicTask</h1>
      <div class="card">
        <h2>Criar Task</h2>
        <form class="form" action="/task" method="post" th:object="${task}">
          <label class="hide" for="title">Titulo</label>
          <input
          	th:classappend="${#fields.hasErrors('title')}? invalid"
          	class="invalid"
            type="text"
            id="title"
            name="title"
            placeholder="Titulo"
            th:field="*{title}"
          />

          <label class="hide" for="description">Descrição</label>
          <textarea
          	th:classappend="${#fields.hasErrors('description')}? invalid"
	        class="invalid"
            id="description"
            rows=""
            cols=""
            name="description"
            placeholder="Descrição"
            th:field="*{description}"
          ></textarea>
          <p th:errors="*{description}"></p>

          <label for="points">Pontos</label>
          <input
          	th:classappend="${#fields.hasErrors('points')}? invalid"
          	class="invalid"
            id="points"
            type="range"
            name="points"
            min="10"
            max="500"
            step="10"
            oninput="document.querySelector('#output-points').value=this.value"
            th:field="*{points}"
          />
          <output id="output-points">10</output>
          <p th:errors="*{points}"></p>

          <div class="form-button">
            <a class="button" href="/task">Cancelar</a>
            <button type="submit" class="primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
