<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Novo Usuario</title>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css"
	integrity="sha512-gRH0EcIcYBFkQTnbpO8k0WlsD20x5VzjhOA1Og8+ZUAhcMUCvd+APD35FJw3GzHAP3e+mP28YcDJxVr745loHw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>


	<section class="sectionForm">
		<div class="color"></div>
		<div class="box">
			<div class="containerNewUser">
				<div class="newUser">
					<h1>Criar Usuario</h1>
					<form action="/login" method="post" th:object="${user}">
						<div class="inputbox">
							<input type="text" placeholder="Digite seu Nome" name="name" th:field="*{name}">
							<p class="error" th:errors="*{name}">
						</div>

						<div class="inputbox">
							<input type="text" placeholder="Digite seu email" name="email" th:field="*{email}">
							<p class="error" th:errors="*{email}">
						</div>

						<div class="inputbox">
							<input type="password" id="password"
								placeholder="Digite sua senha" name="password" th:field="*{password}"> 
								<p class="error" th:errors="*{password}">
								<span class="show-btn">
									<i class="fas fa-eye" aria-hidden="true"></i>
								</span>
						</div>

						<div class="inputbox">
							<a href="/task"><input class="button" value="Cancelar"></a>
							<input type="submit" class="button" value="Salvar">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>